<center>
    <h1>Mohamed Nasser Aboelnasr</h1>
</center>

Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

In [1]:
import findspark
findspark.init()

## Build Spark Session

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [3]:
train_df = spark.read.csv('train.csv', header=True, inferSchema=True)
test_df = spark.read.csv('test.csv', header=True, inferSchema=True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [4]:
print(type(train_df))
print(type(test_df))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [5]:
print('Train DataFrame : ')
train_df.show(5)

Train DataFrame :
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [6]:
print('Test DataFrame : ')
test_df.show(5)

Test DataFrame :
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|   17453|89.1042|  C92|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|A/5 2817|   8.05| null|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|  349240| 7.8958| null|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|   13509|  26.55|  E38|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|   17464|51.8625|  D21|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [7]:
print('Train DataFrame : ')
train_df.printSchema()

Train DataFrame :
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [8]:
print('Test DataFrame : ')
test_df.printSchema()

Test DataFrame :
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [9]:
print('Train DataFrame : ')
train_df.summary().show()

Train DataFrame :
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    25%|              223|                  0|                 2|                null|  null|              20.0|                 0|                  0|           19996.0|           7.8958| null|    null|
|    50%|              446|                  0|                 3|                null|  null|              28.0|                 0|                  0|          236171.0|          14.4542| null|    null|
|    75%|              669|                  1|                 3|                null|  null|              38.0|                 1|                  0|          347743.0|             31.0| null|    null|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [10]:
print('Test DataFrame : ')
test_df.summary().show()

Test DataFrame :
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|summary|       PassengerId|          Survived|            Pclass|                Name|   Sex|               Age|            SibSp|             Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+
|  count|               438|               438|               438|                 438|   438|               350|              438|               438|               438|              438|  104|     437|
|   mean|             219.5|0.3721461187214612|2.2831050228310503|                null|  null|30.855485714285713| 0.45662100456621| 0.365296803652968|228762.85970149253|32.04006803652967| null|    null|
| stddev|126.58396422928143|0.4839298099728147| 0.851563345160767|                null|  null|14.884232312749964|1.020023555036897|0.8139972722947301| 416628.4618395599|50.40455507146085| null|    null|
|    min|                 1|                 0|                 1|"Angle, Mrs. Will...|female|              0.42|                0|                 0|            110152|              0.0|  A10|       C|
|    25%|               110|                 0|                 1|                null|  null|              21.0|                0|                 0|           17453.0|           7.8958| null|    null|
|    50%|               219|                 0|                 3|                null|  null|              30.0|                0|                 0|          113807.0|          14.4542| null|    null|
|    75%|               329|                 1|                 3|                null|  null|              39.0|                1|                 0|          348121.0|           31.275| null|    null|
|    max|               438|                 1|                 3|van Melkebeke, Mr...|  male|              80.0|                8|                 6|         WE/P 5735|         512.3292|   F4|       S|
+-------+------------------+------------------+------------------+--------------------+------+------------------+-----------------+------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [11]:
train_df.count()

891

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [12]:
# importing necessary modules
from pyspark.sql import functions as f

In [13]:
trainDF_Surviv = train_df.where(f.col('Survived') == 1)
trainDF_UnSurviv = train_df.where(f.col('Survived') == 0)

**Display your result:**

In [14]:
trainDF_Surviv.count()

342

In [15]:
trainDF_UnSurviv.count()

549

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [16]:
# importing necessary modules
from pyspark.sql.types import *

In [17]:
df_surviv_count = train_df.where(f.col('Survived') == 1).count()
df_unsurviv_count = train_df.where(f.col('Survived') == 0).count()
df_all_count = train_df.count()

print('Survived ratio:', round(df_surviv_count/df_all_count*100, 3), '%')
print('Unsurvived ratio:', round(df_unsurviv_count/df_all_count*100, 3), '%')

Survived ratio: 38.384 %
Unsurvived ratio: 61.616 %

**Can you get the number of males and females?**

In [18]:
print('Males count:', train_df.where(f.col('Sex') == 'male').count())
print('Females count:', train_df.where(f.col('Sex') == 'female').count())

Males count: 577
Females count: 314

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [19]:
train_df.select('Sex')\
 .where(f.col('Survived') == 1)\
 .groupBy('Sex')\
 .count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

In [20]:
df_temp = train_df.groupBy("Sex", "Survived").count()

df_temp.withColumn('Ratio', f.col('count')/train_df.count()).show()

+------+--------+-----+-------------------+
|   Sex|Survived|count|              Ratio|
+------+--------+-----+-------------------+
|  male|       0|  468| 0.5252525252525253|
|female|       1|  233| 0.2615039281705948|
|female|       0|   81|0.09090909090909091|
|  male|       1|  109|  0.122334455667789|
+------+--------+-----+-------------------+

**Create temporary view PySpark:**

In [21]:
train_df.createOrReplaceTempView("tbl_1")

**How many people survived, and how many didn't survive? By SQL:**

In [22]:
spark.sql("""
          SELECT Survived, COUNT(*) AS count
          FROM tbl_1
          GROUP BY Survived
          """).show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [23]:
spark.sql("""
          SELECT Sex, COUNT(*) AS count
          FROM tbl_1
          WHERE Survived == 1
          GROUP BY Sex
          """).show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [24]:
spark.sql("""
          SELECT Pclass, SUM(Survived)/COUNT(Pclass) AS Ratio
          FROM tbl_1
          GROUP BY Pclass
          """).show()

+------+-------------------+
|Pclass|              Ratio|
+------+-------------------+
|     1| 0.6296296296296297|
|     3|0.24236252545824846|
|     2|0.47282608695652173|
+------+-------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [25]:
mergedDF = train_df.union(test_df)

**Display count:**

In [26]:
mergedDF.count()

1329

**Can you define the number of null values in each column?**

In [27]:
mergedDF.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in mergedDF.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [28]:
nullDF = mergedDF.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in mergedDF.columns])

In [29]:
nullDF.show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [30]:
data = [(i, nullDF.select(f.collect_list(i)).first()[0][0]) for i in nullDF.columns]

In [31]:
data

[('PassengerId', 0),
 ('Survived', 0),
 ('Pclass', 0),
 ('Name', 0),
 ('Sex', 0),
 ('Age', 265),
 ('SibSp', 0),
 ('Parch', 0),
 ('Ticket', 0),
 ('Fare', 0),
 ('Cabin', 1021),
 ('Embarked', 3)]

In [32]:
spark.createDataFrame(data,['Column', 'Value']).show()

+-----------+-----+
|     Column|Value|
+-----------+-----+
|PassengerId|    0|
|   Survived|    0|
|     Pclass|    0|
|       Name|    0|
|        Sex|    0|
|        Age|  265|
|      SibSp|    0|
|      Parch|    0|
|     Ticket|    0|
|       Fare|    0|
|      Cabin| 1021|
|   Embarked|    3|
+-----------+-----+

## Preprocessing

**Create Temporary view PySpark:**

In [33]:
mergedDF.createOrReplaceTempView("tbl_2")

**Can you show the "name" column from your temporary table?**

In [34]:
spark.sql("""
          SELECT Name FROM tbl_2
          """).show(10)

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
+--------------------+
only showing top 10 rows

**Run this code:**

In [35]:
combined = mergedDF

In [36]:
import pyspark.sql.functions as F
combined = combined.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')

**Display "Title" column and count "Title" column:**

In [37]:
spark.sql("""
          SELECT Title FROM combined
          """).show(10)

+------+
| Title|
+------+
|    Mr|
|   Mrs|
|  Miss|
|   Mrs|
|    Mr|
|    Mr|
|    Mr|
|Master|
|   Mrs|
|   Mrs|
+------+
only showing top 10 rows

In [38]:
spark.sql("""
          SELECT COUNT(DISTINCT(Title)) AS Num_Title
          FROM combined
          """).show()

+---------+
|Num_Title|
+---------+
|       17|
+---------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [39]:
titlesDF = spark.sql("""
          SELECT DISTINCT(Title) AS Num_Title
          FROM combined
          """)

In [40]:
rare_list = ["Dr", "Rev", "Major", "Col", "Mlle", "Capt", "Don", "Jonkheer", "Countess", "Ms", "Sir", "Lady", "Mme"]

In [41]:
titles_list = titlesDF.select(F.collect_list('Num_Title')).first()[0]
dict_titles = {i: 'rare' if i in rare_list else i for i in titles_list}

In [42]:
dict_titles

{'Don': 'rare',
 'Miss': 'Miss',
 'Countess': 'rare',
 'Col': 'rare',
 'Rev': 'rare',
 'Lady': 'rare',
 'Master': 'Master',
 'Mme': 'rare',
 'Capt': 'rare',
 'Mr': 'Mr',
 'Dr': 'rare',
 'Mrs': 'Mrs',
 'Sir': 'rare',
 'Jonkheer': 'rare',
 'Mlle': 'rare',
 'Major': 'rare',
 'Ms': 'rare'}

**Run the function:**

In [43]:
def impute_title(title):
    return dict_titles[title]  # Title_map is your dictionary. please change this name with your dictionary name.

**Apply the function on "Title" column using UDF:**

In [44]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [45]:
@udf(returnType=StringType()) 
def impute_title(title):
    return dict_titles[title]

In [46]:
combined = combined.withColumn("New_Title", impute_title(F.col("Title")))

**Display "Title" from table and group by "Title" column:**

In [47]:
combined.select('New_Title').show(30)

+---------+
|New_Title|
+---------+
|       Mr|
|      Mrs|
|     Miss|
|      Mrs|
|       Mr|
|       Mr|
|       Mr|
|   Master|
|      Mrs|
|      Mrs|
|     Miss|
|     Miss|
|       Mr|
|       Mr|
|     Miss|
|      Mrs|
|   Master|
|       Mr|
|      Mrs|
|      Mrs|
|       Mr|
|       Mr|
|     Miss|
|       Mr|
|     Miss|
|      Mrs|
|       Mr|
|       Mr|
|     Miss|
|       Mr|
+---------+
only showing top 30 rows

In [48]:
combined.createOrReplaceTempView('combined')
spark.sql("""
          SELECT New_Title, COUNT(New_Title)
          FROM combined
          GROUP BY New_Title
          """).show()

+---------+----------------+
|New_Title|count(New_Title)|
+---------+----------------+
|     rare|              44|
|     Miss|             257|
|   Master|              56|
|       Mr|             786|
|      Mrs|             186|
+---------+----------------+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [49]:
from pyspark.sql.functions import mean as _mean

In [50]:
mean_age = combined.select(_mean(col("Age")).alias('mean')).collect()[0]['mean']

**Fill missing with "age" mean:**

In [51]:
combined = combined.na.fill(value=mean_age,subset=["Age"])

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [52]:
grouped_Embarked = combined.select('Embarked', 'Name')\
 .groupBy('Embarked')\
 .count()\
 .orderBy('count',ascending=False)

**Show "groupped_Embarked" your variable:**

In [53]:
grouped_Embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get max of groupped_Embarked:**

In [54]:
max_count = grouped_Embarked.groupby().max('count').collect()[0][0]

In [55]:
max_embarked = grouped_Embarked.filter(expr("count") == max_count).select('Embarked').collect()[0][0]
max_embarked

'S'

**Fill missing values with max 'S' of grouped_Embarked:**

In [56]:
combined = combined.na.fill(value=max_embarked,subset=["Embarked"])

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [57]:
@udf(returnType=StringType()) 
def replace_char(value):
    if value != None:
        return value[0]

In [58]:
combined = combined.withColumn("cabin", replace_char(F.col("cabin")))

**Show the result:**

In [59]:
combined.show()

+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|          Ticket|   Fare|cabin|Embarked| Title|New_Title|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|              22.0|    1|    0|       A/5 21171|   7.25| null|       S|    Mr|       Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|              38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|      Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|              26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|  Miss|     Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|              35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|      Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|              35.0|    0|    0|          373450|   8.05| null|       S|    Mr|       Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.079501879699244|    0|    0|          330877| 8.4583| null|       Q|    Mr|       Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|              54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|       Mr|
|          8|       0|     3|Palsson, Master. ...|  male|               2.0|    3|    1|          349909| 21.075| null|       S|Master|   Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|              27.0|    0|    2|          347742|11.1333| null|       S|   Mrs|      Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|              14.0|    1|    0|          237736|30.0708| null|       C|   Mrs|      Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|               4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|     Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|              58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|     Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|              20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    Mr|       Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|              39.0|    1|    5|          347082| 31.275| null|       S|    Mr|       Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|              14.0|    0|    0|          350406| 7.8542| null|       S|  Miss|     Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|              55.0|    0|    0|          248706|   16.0| null|       S|   Mrs|      Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|               2.0|    4|    1|          382652| 29.125| null|       Q|Master|   Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.079501879699244|    0|    0|          244373|   13.0| null|       S|    Mr|       Mr|
|         19|       0|     3|Vander Planke, Mr...|female|              31.0|    1|    0|          345763|   18.0| null|       S|   Mrs|      Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.079501879699244|    0|    0|            2649|  7.225| null|       C|   Mrs|      Mrs|
+-----------+--------+------+--------------------+------+------------------+-----+-----+----------------+-------+-----+--------+------+---------+
only showing top 20 rows

**Create the temporary view:**

In [60]:
combined.createOrReplaceTempView('combined')

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [61]:
spark.sql("""
          SELECT cabin, COUNT(*) AS count
          FROM combined
          GROUP BY cabin
          ORDER BY count DESC
          """).show()

+-----+-----+
|cabin|count|
+-----+-----+
| null| 1021|
|    C|   82|
|    B|   77|
|    D|   52|
|    E|   51|
|    A|   23|
|    F|   18|
|    G|    4|
|    T|    1|
+-----+-----+

**Fill missing values with "U":**

In [62]:
combined = combined.na.fill(value='U',subset=["cabin"])

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

In [63]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

**StringIndexer(inputCol=None, outputCol=None)**

In [64]:
categoricalCols = [field for (field, dataType) in combined.dtypes
                   if ((dataType == "string") & (field!='Title'))]

indexOutputCols = [x + "_Index" for x in categoricalCols]

oheOutputCols = [x + "_OHE" for x in categoricalCols]

stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [65]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [66]:
numericCols = [field for (field,dataType) in combined.dtypes
              if ((dataType!='string') & (field!='Survived'))]

In [67]:
assemblerInputs = oheOutputCols + numericCols
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol='features')

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [68]:
X_train, X_test = combined.randomSplit([0.8, 0.2], seed=42)

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [69]:
rfc = RandomForestClassifier(labelCol='Survived', featuresCol='features')

In [70]:
pipeline = Pipeline(stages = [stringIndexer, oheEncoder, vecAssembler, rfc])

In [71]:
pipelineModel = pipeline.fit(X_train)
predDF = pipelineModel.transform(X_test)

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [72]:
Evaluator = MulticlassClassificationEvaluator(predictionCol='prediction',
                                         labelCol='Survived',
                                         metricName='accuracy')

acc = Evaluator.evaluate(predDF)

In [73]:
print("The accuracy is : ",acc)

The accuracy is :  0.7342657342657343

**When you are finished send the project via Google classroom**
**Please let me know if you have any questions.**
* nabieh.mostafa@yahoo.com
* +201015197566 (Whatsapp)

**Don't Hate me, I push you to learn**

**I will help you to become an awesome data engineer.**

**Why did I say that "Data Engineer"?**

**Tricky question, but an optional question, if you would like to know the answer, ask me.**